name: docker-install CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        os:
          - ubuntu:20.04
          - ubuntu:22.04
          - centos:7
          - quay.io/centos/centos:stream9
        version:
          - "20.10"
          - ""

    steps:
    - uses: actions/checkout@v3
    - name: Shellcheck
      run: make shellcheck
    - name: Check distribution
      run: TEST_IMAGE=${{ matrix.os }} VERSION=${{ matrix.version }} make test
